*, ::after, ::before {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PTSansCaption-Regular';
  src: url('../fonts/PTSansCaption-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}


@font-face {
  font-family: 'Dited';
  src: url('../fonts/Dited.otf') format('opentype');
}


@font-face {
  font-family: 'Paralines';
  src: url('../fonts/Paralines-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'DIGITALDREAM';
  src: url('../fonts/DIGITALDREAM.ttf') format('truetype');
}


body {
  background-color: white;
  background-image: url(../images/black-shadow-grid.png) ;
  font-size: 100%;
  margin:0;
  padding: 0;
}

.podlozka {
  z-index: -2;
  filter: alpha(Opacity=95);
  position: absolute;
  background-image: url(../images/keyboard_desktop_monitor_computer_desk-181849.jpg!d.jpg) ;
  background-size:cover; 
  -webkit-filter: brightness(80%) blur(0px);
  filter: brightness(80%) blur(0px);
  -moz-filter: brightness(80%) blur(0px);
  background-size: cover;
  top: 00;
  left: 0;
  right: 0;	
  bottom:000px;
  height: 600px;
}



.page {
  font-family: 'Roboto' , sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
}


 
h3 {
  color: black;	
  margin-top:0 ;
  margin-bottom: 10px;
}

/* Хэдер */

.header {
  width: 100%;
  margin-left:0px;
  margin-right:0px;
  min-height: 100px;
  border-bottom: 1px solid #ccc;
  background-color: #000;
  background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



#hidetick {
  line-height:  12px;
  position: absolute;
  left:70%;
  height: 32px;
  width:100px;
  text-shadow: 0 1px 0 black,

                 0 2px 0 black,

                 0 2px 0 black,

                 0 2px 0 black,

                 0 2px 0 black,

                 0 2px 1px rgba(100,100,100,.1),

                 0 0 5px rgba(100,100,100,.1),

                 0 2px 3px rgba(100,100,100,.3),

                 0 3px 5px rgba(100,100,100,.2);
  text-decoration: none;   
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 0 40px 40px #1336bf inset, -1px 3px 0 0 #a4a6a4;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

#hidetick:hover {
  box-shadow:  0 0 10px 4px #F137A6, -1px 3px 0 0 #a4a6a4;
  background-color: #F137A6 ;

}

#hidetick:active {
  background-color: #ed8ac9;
  box-shadow:  0px 0px 0 0 #a4a6a4;
  top: 38px;
}

#ticker{  
  font-family: 'Dited' , sans-serif;
  height: 35px;
  margin: 0;
  background-color: black;
  color: lime;
  font-size: 25px;    
  animation: slidein 60s infinite linear;
  line-height: 35px;
  white-space: nowrap;  overflow:hidden;
}



#wrap_for_tic {
  height: 35px;
  background-color: black;
}


@keyframes slidein {
  from {
  margin-left: 100%;
  
  }

  to {
  margin-left: -350%;
  
  }
} 

#pagegradient {
background-image:
gradient(
            radial, 
            50% -50, 
            300, 
            50% 0, 
            0, 
            from(rgba(230, 237, 241, 0)), 
            to(rgba(230, 237, 241, 0.8)));
    
  height:100%;
  width: 600px;
}

#hide_tick {
  position: absolute;
  left: 70%;
  display: inline-block;
  margin: 0 auto;  
  border-radius: 10px;
  box-shadow: 
        0px 3px rgba(128,128,128,1), 
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); 
  transition: box-shadow .1s ease-in-out;
} 

#hide_tick span {
  background-color: #E8E8E8; 
  background-image: 
  gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
),
  box-shadow:
            0px -1px #fff, 
            0px 1px 1px #FFFFFF; 
  background-size: 100%, 100%, 100%, 4px 4px;
  border-radius: 5px;
  transition: transform .1s ease-in-out;
  display: inline-block;
  padding: 8px 12px 8px 12px;   
  color: #3A474D;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
  font-weight: 700;
  font-size: 0.8em;   
  text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

#hide_tick span:hover {
            color: #2a2aa3;
            cursor: pointer;
        }

#hide_tick:active {
  box-shadow: 
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

#hide_tick:active span{
  transform: translate(0, 5px);
        }

.searchblock {
  margin-top: 1%;
  margin-left:30%;
}

#livesearch {
  background: url(../images/Search-32.png) no-repeat  ;
  height: 30px;
  width: 200px;
  text-align: center;
  outline: none;
  color: black;
  background-color: #c1b6c2 ; 
  border: 0; padding: 7px 0; 
  border-bottom: 3px solid gray;
  transition: 1s;
}


 
#livesearch:focus {
  background: white;
  color: black; 
  border: 0; padding: 7px 0;
  border-bottom: 3px solid black;
} 


#livesearch1 {
  z-index: 222;
  margin:0;
  padding: 0;
  background-color: white;
  position: absolute;
  width: 220px;
  text-decoration: none;
  color: black;
  list-style-type: none; 
}



.beginhide {z-index: 222;
  visibility: hidden;
  list-style-type: none;
}

.hide {
  display: none;  
}

button.part {
  height: 30px;
  display: block;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  padding: 0px 20px 0 ;
  left:240px;
  bottom: 30px;
  position: relative;
  cursor: pointer;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


button.cancel {
  border-left: solid 1px #2E4476;
  background: #3B5999;
  box-shadow: 0px 5px 0px 0px #2E4476;
}

button.cancel:hover {
  color: black;
}

button.part:active {
  top: -26px;
}

button.cancel:active {
  box-shadow: 0px 2px 0px 0px #2E4476;
}

button.part:before {
  content: "";
  width: 35px;
  height: 30px;
  display: block;
  position: absolute;
  padding-top: 10px;
  line-height: 20px;
  top: 0px;
  margin-left: -54px;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button.cancel:before {
  border-right: solid 1px #2E4476;
  background: #3B5999;
  box-shadow: 0px 5px 0px 0px #2E4476;
}

button.part:active:before {
  top: -3px;
}

button.cancel:active:before {
  box-shadow: 0px 5px 0px 0px #2E4476, 6px 4px 2px rgba(0,0,0,0.3);
}

.log_search_line {
  display: flex;
  float: left;
  align-items: center;
}

.link_test {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 0;
  position: relative;
  font-style: italic;
  text-align: center;
  color: white;
  width: 300px;
  border:10px solid #fff;;
  background-color: white;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;  
  background-color: black;
  transition: all 0.4s ease-in-out;
  height: 100% ;
}

.mask p {
  transform: translateY(100px);   
  transition: all 0.2s linear;
  font-family: 'Oswald';
  line-height: 2em;
  font-size: 18px;
}


.info {
  transition: all 0.1s ease-in-out;
  color: #fff; 
  box-shadow: 0 0 1px #000;
  font-style: normal;
  font-size: 20px;
}

.link_test img {
  transition: all 0.2s linear;
  max-width: 100%;

 
}

.link_test:hover img {
  transform: scale(1.1);
}

.link_test:hover .mask {
  opacity: 0.85;
}

.link_test:hover p,
.link_test:hover a {
  transition-delay: 0.2s;
  transform: translateY(0px);
}


.link_test:hover a.info {
  transition-delay: 0.2s; 
}

a.info:hover  {
  color: red;
}

.contact {
  padding-right: 10px; 
  position: absolute;
  top:10%;
  right:  0px;
  float: right; 
}



.header-email { 
}

.phone-number {
  color: white;
  float: right;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5625rem;
  position: relative;
}
  

.phone-number:hover {color: #2b4ed1;}

.phone-number:hover:before {
  content: attr(data-title);
  position: absolute;
  top:60px;
  left: 0px;
  width:200px;
  color: black;
  background-color: white;
  font-size: 15px;
  font-weight: 200;
  z-index: 500;
  height: 80px;
}

.email-address {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em; 
  display: inline-block;
  position: relative;  
}


.email-address:hover {color: #2b4ed1 ;}

.email-address:visited {color: #2402d2 ;}


.email-address:hover:before {
  content: attr(data-title);
  position: absolute;
  top:60px;
  left: -30px;
  width:200px;
  color: black;
  background-color: white;
  font-size: 15px;
  z-index: 200;
  height: 80px;
}


#main {display: flex;}

.effects {
  padding-left: 10px;
  margin: 0;
  float: left; 
  font-size: 250%;
  font-family: 'Paralines';
  text-align: center;
  text-transform: uppercase;
  text-shadow: 10px 10px 10px red,0 0 10px FireBrick,0 0 6px DarkRed;
  color: #e0122d;
}

#lights {
  margin: 0;
  color: #145fe9;
  text-shadow: 0 0 5px #1c4ac9,0 0 20px #008000,0 0 10px #0000ff;    
}

#lights span {
  animation: upper 11s linear infinite;
}

#code {
  margin: 0;
}
#code span:nth-of-type(2) {
  animation: lower 10s linear infinite;    
}

#code span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}

#code span:nth-of-type(4) {
  animation: lower 4s linear infinite;    
}


@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}  


/*МЕНЮ*/
.resp_menu {
  display: none;
}

.resp_menu_btn {
  border: 0;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

.resp_menu_btn_line {
  display: block;
  height: 3px;
  width: 20px;
  margin-bottom: 3px;
  background: #000;
}


.resp_menu_btn:hover {
  background: #74767a;
}

.resp_menu_btn_line:last-child {
  margin-bottom: 0px;
}

.home {
  padding: 0;
  border:1px solid black ;
  border-left-width:0px;
  border-top-width:0px;
  border-bottom-width:0px;
}

.home img {
  max-width: 100%;
  max-height: 100%; 
} 



 #menu .readypost {
  background-color: #20a619;
}


#menu {
   font-family: PTSansCaption-Regular;
  position: sticky;
  top: 0px;
  margin:auto;
  background-image: url(../images/pattern_50_1589966104034.png) ;
  height: 45px;
  z-index: 10;
  font-size: 100%;
}


.menu_item {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content:  center;
}


#menu:hover::after {
  font-family: Roboto,sans-serif;
  content: attr(data-title); 
  position: absolute;
  top:50px;
  left: 150px;
  max-width:180px;
  color: black;
  background-color: white;
  font-size: 0.7em;
  font-weight: 200;
  z-index: 500;
  height: 100px;
}

.menu_item li a {
  line-height: 1em;
  height: 45px;
  text-decoration: none;
  display: block;
  color:white;
  background-color: #342572;
  padding: 10px;  
 /* position: relative;*/
}

.menu_item li a:hover {
  border:1px solid #fff;
  box-shadow: 0 0 15px 10px #1833de;
  color:#0597ff;
  background-color: black;
  z-index: 10;
  cursor: pointer;
  transition-duration: 0.35s;
}


.menu_item li{  
  height: 45px;
  position: relative; 
  list-style: none;
  text-align: center;
  width: 150px;
  border-color: black;
  border:1px solid black ;
  border-left-width:0px;
  border-top-width:0px;
}

.menu_item li:hover ul {
  height: 450px;
} 

#menu ul li:last-child{ border-right-width:0px; }


.menu_item li ul {
  position: absolute;
/*  top: 100%;*/
  right: 0;
  height:0px;
  transition:height 0.3s linear;
  overflow:hidden;
}

.menu_item li ul li {
  border-left-width:1px; 
  border-top-width:1px; 
}


.menu_item li ul li:last-child {
  border-right-width:1px; 


}



/*ПРИВЕТСТВИЕ*/
#garbage_tag{
  position:  fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  z-index: 100;
/*  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 2400ms ease-in;
  transition: opacity 2400ms ease-in;*/
}

#garbage_tag:target {
  display: block;
}

.modalDialog   {
  height: 250px;
  color: white;    
  width: 400px;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  border:3px solid gray;
  background: #fff;
  background: -moz-linear-gradient(#5d02b8, #712ab8);
  background: -webkit-linear-gradient(#5d02b8, #712ab8);
  background: -o-linear-gradient(#5d02b8, #712ab8);
}

.close {
  margin-left: 350px;
  color: red;
  font-weight: 700;
  text-decoration: none;
}

.button-container a {
  margin-top: 5%;
  text-decoration: none;
  outline: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  border-image-slice: 1;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165,.84,.44,1);
}

.button-container a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(180deg,#4509ad ,#593091);  
  transition: .8s cubic-bezier(.165,.84,.44,1);
}

.button-container a:hover {
  color: black;
}

.button-container a:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
  
}



.descript {
  list-style-type: square;
  margin-bottom: 0;	
}

/*ПОПУЛЯРНОЕ*/
.headline {text-shadow: 0 1px 0 black,

                 0 2px 0 black,

                 0 2px 0 black,

                 0 2px 0 black,

                 0 2px 0 black,

                 0 2px 1px rgba(100,100,100,.1),

                 0 0 5px rgba(100,100,100,.1),

                 0 2px 3px rgba(100,100,100,.3),

                 0 3px 5px rgba(100,100,100,.2);
  margin-top: 50px;
  text-align: center;
  color: white;
}

.section {

  clear: both;  
}

.grid__item {
/*  height: 100%;*/
  float: left;
  margin-right: 1.7%;
  margin-bottom: 1.7%;
  width: 49.15%;
  position: relative; 
}

.grid__item:nth-of-type(2n),
last-child {
  margin-right: 0;
}

.grid__picture {
  max-width: 100%; 
  display: block; 
}

.grid__overlay {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.grid__overlay:hover  {
  background: rgba(0, 0, 0, .9);    
}	

.grid__text{
  position: relative;
  top:45%;
  text-align: center;
  font-size: 2em;
  color : white;
  font-family:  Roboto  ;
  font-weight: 600;
}

/*ФУТЕР*/
  .footer {
width: 100%;
margin-left:0px;
margin-right:0px;
height: 100px;
border-bottom: 1px solid #ccc;
background-color: #000;
background-image: linear-gradient(to bottom right,black,lightgrey 200% ); 
}

.social_panel{
  display: flex;
}

.copyright {
  color: white;
  text-align:right;
  font-size: 16px;
  margin-top:-40px;
  font-weight: 300;
}

.description {
  margin-bottom: 10px;
  font-size:  18px;
  color: white;
  }
 
.pic{
  max-height: 100%;
  max-width: 100%;
}

.icons {
  margin-left: 10px;
  width: 2rem;
  height:2rem;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.icons:hover {
 -webkit-filter: brightness(40%);
  filter: brightness(40%);
  -moz-filter: brightness(40%);
}

.icons1 {
  margin-left: 5rem;
  padding: 2px;
  width: 2rem;
  height:2rem;
  border: 2px solid transparent;
  -webkit-filter:  grayscale(99%);
  filter:  grayscale(99%);
  -moz-filter:  grayscale(99%);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.icons1:first-child {
  margin-left: 10px;
}

.icons1:hover {
  border: 2px solid #11ad00;
  -webkit-filter:  grayscale(0%);
  filter:  grayscale(0%);
  -moz-filter:  grayscale(0%);
}

.icons1 a {
  color: black;
  text-decoration: none;
}

 .icons1 a:hover {
  text-decoration:underline; 
  color: #11ad00;
}

.footer2 {
  min-height: 160px;  
  width: 100%;
  height: 100%;
  background-color:  #4f3ab7;
}

/*Регистрация*/

.usersaccount {
  position: absolute;
  right: 0;
  background: rgba(182 , 183 , 188 , 1);
  border-radius: 5%; 
  border:2px solid;
  border-color: white;
  height: 100px;
  width: 200px;
  text-align: center;
  align-items: center;  
}



.container { 


  -webkit-transform-style: preserve-3d;   
  transform-style: preserve-3d;
  -webkit-perspective: 200px;  
  perspective: 200px;  
 }


.container2 { display: flex; 
  
  -webkit-transform-style: preserve-3d;   
  transform-style: preserve-3d;
  -webkit-perspective: 200px;  
  perspective: 200px;  
 }        

      
.transform {
  position: absolute;

  color: white;
  text-decoration: none;
  background: linear-gradient( to bottom , #3b5999, #3b5999);   
  height: 70px;
  width: 99px;
  font-size: 15px;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  border: 1px solid black;
  }

.transform:hover { 
  -webkit-animation: notransform 4s infinite;  
  animation: notransform 4s infinite;
}

@-webkit-keyframes notransform{
  50% {webkit-transform: rotateY(50deg);  
  -ms-transform: rotateY(50deg);  
  transform: rotateY(50deg);  }}


@keyframes notransform {  
  50% {webkit-transform: rotateY(50deg);  
  -ms-transform: rotateY(50deg);  
  transform: rotateY(50deg);  }}

.input:focus {
  background: grey;
  color: black; 
  border: 0; padding: 2px 0;
  border-bottom: 3px solid black;
} 

.counter {
 
}

.regform {
  position: absolute;
  left: 0;
  float: left;
  clear: both;
  background: rgba(182 , 183 , 188 , 1);
  width:150px;
  height:170px;
  border-radius: 5%;
  border:2px solid white;
  font-size: 80%;
  font-weight: 600;
  font-family: roboto  ; 
}

/*СТАТЬИ*/

.counter { font-family: 'DIGITALDREAM', sans-serif;
  background-color:  black;
  color: white;
  display: flex; 
  width: 450px;
}

.lime_number {
  font-size: 1.1em ;
  color: lime;
  font-weight:  bold;
}

.post {
  font-family: 'Roboto' , sans-serif;
  color: #333333;
  margin: 10% auto;
  padding-left: 15%;
  padding-right: 15%;
  padding-top:5%;
  padding-bottom: 5%;
  max-width: 1200px;
  width: 100%;
  background-color: white;
  text-indent: 45px;
  line-height: 40px;
  margin-bottom: 0px;
}

.views {
  position:relative; 
  clear: both;
  float: right;
  background-color: #ece6f7; 
  display: flex;
  width: 100px;
  margin-right: 10px;
} 

.views img {
  margin-left: 10px; 
  width:32px;
  height: 32px;
  position: absolute;
  top:10%;
}

.count_view {
  font-size: 1em ; 
  color: black; 
}

.marker {
  background-color: #e32e4a;
  color: black; 
  font-size: 1.1rem; 
}

#back-top{
  z-index: 1000;
  position:fixed;
  bottom:30px;
  right: 60px;  
}


#back-top span{
  width:60px;
  height:40px;
  display:block;
  margin-bottom:7px;
  background:#765be3 url(../images/iconfinder_arrow-up-01_186407.png) no-repeat center center;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  -webkit-transition:1s;
  -moz-transition:1s;
  transition:1s;
}
    
#back-top a:hover span{background-color:#777}

h4 {
  color: black;
  margin-bottom: 5px;
  margin-top: 40px;
} 
 
h3 {
  color: black; 
  margin-top:0 ;
  margin-bottom: 10px;
}

.wrapforembed {
  position: relative;
  text-indent: 0;
  width: 100%;
}

.instagram-media {
  width:100%; 
}

.imgwrap {
  position: relative;
  text-indent: 0;
  width: 100%;
}

.images {
  width:100%; 
}

.descript {
  opacity: 0.8;
  position: absolute;
  top:  90%;
  background-color:black; 
  color:white; 
  text-align:center;
  width: 100%; 
}

.redline {
  background-color: #ffdbe5;
  margin: 20px 0;
  padding-left: 20px;
  border-left: 5px solid #ee6e73;
  font-style: italic;
  line-height: 40px;
  font-weight: 400;
  font-size: 16px;
}

.bold {
  font-weight: bold;  
}

.firstlane {
  text-shadow: 
    0 1px 0 grey, 
    0 2px 0 grey, 
    0 3px 0 #bbb, 
    0 2px 0 #b9b9b9, 
    0 2px 0 #aaa, 
    0 2px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 2px rgba(0,0,0,.3), 
    0 2px 2px rgba(0,0,0,.2), 
    0 2px 2px rgba(0,0,0,.25), 
    0 2px 2px rgba(0,0,0,.2), 
    0 2px 2px rgba(0,0,0,.15); 
    color: red;
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
 }  


    
/*ТЕХНОЛОГИИ*/
.bxslider img {
 height:400px;
  width: 100%;

  }

.img {
  height:100%;
}

.sli_desc_img {
  position: absolute;
  top:0%;
  background: rgba(1 , 1 , 1 , .6);
  left: 0;
  right: 0;
  min-height: 2em;
}

.sli_desc_img a {
  background: rgba(1 , 1 , 1 , 1);
}

.wrap {
  background-color:black; 
  color: white; 
  width:50%;
}